@import "variables";

//                                               ---- Header ----

.container {
    .header {
        .row {
            .navbar {
                .nav {
                    justify-content: flex-end;
                    .nav__text {
                        display: flex;
                        a {
                            margin-left: 100px;
                            li {
                                list-style: none;
                            }
                        }
                    }
                }
            }
        }
    }
}